@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  position: relative;
  background-image: url(/images/bgGallery.jpg);
  font-family: monospace;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: 2s filter linear; 
  
}


.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.blurred {
  backdrop-filter: blur(4px);
  
}
