@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(/images/bgGallery.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 125%;
  opacity: 0.6; /* Setează opacitatea imaginii */
  z-index: -1; /* Plasează imaginea sub conținut */
}
